# Project
# -------

# Misc intermediary/meta files
_untracked/
*.code-workspace



# KiCad 8.0
# ---------

# Backup files
*-backups/
_autosave-*
*auto_saved_files*

# Temporary files
~*.lck
*.kicad_prl
fp-info-cache

# Built files
*.zip



# FreeCAD 0.21
# ------------

# Backup files
*.FCBak

# Built files
*.step
*.stl
*.wrl



# Firmware
# --------

# Build files
.cache/
build/
compile_commands.json
